In [1]:
#调用常用模块
import pandas as pd
import numpy as np

In [2]:
#读取excel数据
meter_2019 = pd.DataFrame()
for i in range(7):    
    df = pd.read_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\2019年1-7月智能小表发单水量.xls',sheet_name = i,usecols=[1,3,4])
    meter_2019 = pd.concat([meter_2019,df],ignore_index=1)

meter_2020 = pd.DataFrame()
for i in range(6):    
    df = pd.read_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\2020年1-6月智能小表发单水量.xls',sheet_name = i,usecols=[1,3,4])
    meter_2020 = pd.concat([meter_2020,df],ignore_index=1)  

df = pd.read_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\2020年7月智能小表发单水量.xls',sheet_name = 0,usecols=[1,3,4])
meter_2020 = pd.concat([meter_2020,df],ignore_index=1)

In [3]:
meter_2019_2020 = pd.concat([meter_2019,meter_2020],ignore_index=1).rename(columns = {'USER_NO':'用户编号','MON':'月份','SL':'水量'})

In [7]:
#按月汇总水量数据
meter = meter_2019_2020.groupby('月份').agg({'用户编号': pd.Series.nunique,'水量':sum})

In [9]:
meter.to_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\1-7月各月智能小表户数水量.xls')

In [8]:
meter

         用户编号       水量
月份
201901  51628  1390144
201902  67288  1865057
201903  51572  1312461
201904  67251  1805899
201905  51744  1442716
201906  67609  2042314
201907  51780  1508451
202001  55667  1457379
202002  67274  1930729
202003  53995  1562686
202004  65117  1977450
202005  54202  1614034
202006  68083  2084797
202007  54965  1629808