In [1]:
#调用常用模块
import pandas as pd
import numpy as np

In [2]:
#读取excel数据
meter_2019 = pd.DataFrame()

for i in range(7):    
    df = pd.read_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\2019年1-7月智能小表发单水量.xls',sheet_name = i,usecols=[1,3,4])
    meter_2019 = pd.concat([meter_2019,df],ignore_index=1)
df_8_12 = pd.read_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\201908-201912智能小表发单水量.xlsx',usecols=[0,2,3])
meter_2019 = pd.concat([meter_2019,df_8_12],ignore_index=1)

In [9]:
meter_2020 = pd.DataFrame()

for i in range(6):    
    df = pd.read_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\2020年1-6月智能小表发单水量.xls',sheet_name = i,usecols=[1,3,4])
    meter_2020 = pd.concat([meter_2020,df],ignore_index=1)  

df_7 = pd.read_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\2020年7月智能小表发单水量.xls',sheet_name = 0,usecols=[1,3,4])

In [3]:
df_8 = pd.read_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\2020年8月智能小表发单水量.xlsx',sheet_name = 0,usecols=[0,2,3])

In [4]:
df_9 = pd.read_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\2020年9月智能小表发单水量.xlsx',sheet_name = 0,usecols=[0,2,3])

In [5]:
df_10 = pd.read_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\2020年10月智能小表发单水量.xlsx',sheet_name = 0,usecols=[0,2,3])

In [6]:
df_11 = pd.read_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\2020年11月智能小表发单水量.xlsx',sheet_name = 0,usecols=[0,2,3])

In [7]:
df_11

        USER_NO     MON   SL
0       1400133  202011   23
1       1410352  202011   16
2       1410365  202011    1
3       1423961  202011   47
4       1451186  202011    2
...         ...     ...  ...
55727  28478065  202011  103
55728  28478078  202011   35
55729  28537205  202011   62
55730  35797092  202011    9
55731  40606822  202011   16

[55732 rows x 3 columns]

In [10]:
meter_2020 = pd.concat([meter_2020,df_7,df_8,df_9,df_10,df_11],ignore_index=1)

In [11]:
meter_2019_2020 = pd.concat([meter_2019,meter_2020],ignore_index=1).rename(columns = {'USER_NO':'用户编号','MON':'月份','SL':'水量'})

In [12]:
#按月汇总水量数据
meter = meter_2019_2020.groupby('月份').agg({'用户编号': pd.Series.nunique,'水量':sum}).rename(columns = {'用户编号' : '用户数'})

In [13]:
meter

          用户数       水量
月份
201901  51628  1390144
201902  67288  1865057
201903  51572  1312461
201904  67251  1805899
201905  51744  1442716
201906  67609  2042314
201907  51780  1508451
201908  67660  2047821
201909  51760  1491348
201910  67557  2080370
201911  51825  1506424
201912  67577  2057913
202001  55667  1457379
202002  67274  1930729
202003  53995  1562686
202004  65117  1977450
202005  54202  1614034
202006  68083  2084797
202007  54965  1629808
202008  69019  2290302
202009  55641  1664800
202010  69020  2119850
202011  55732  1631689

In [14]:
meter.to_excel(r'e:\专题工作（重要）\专题分析栏目\2020远传表\智能小表发单水量\2019-2020各月智能小表户数水量.xls')