In [1]:
require(baidumap)
options(baidumap.key = 'EoDE9x4kPxLNCtUMxfGEYlvG9inVGaUr')

Loading required package: baidumap

In [24]:
getPlace(place = '越秀区', city = "广州")

Get 1 records, 1 page.
    Getting  0 th page

  name               address lat      lon      telephone
1 \u8d8a\u79c0\u533a NA      23.13526 113.2734 NA

In [4]:
getCoordinate('美心翡翠明庭',city = '广州',formatted = T)#lng-0.0065 ,lat-0.0059
#p_new <- p-c(0.0065,0.0059) 已无需调整

In [19]:
getCoordinate(c('中山大学', '华南理工', '暨南大学'),city = '广州', formatted = T)

                         longtitude latitude
\u4e2d\u5c71\u5927\u5b66 113.3466   23.14024
\u534e\u5357\u7406\u5de5 113.3516   23.16107
\u66a8\u5357\u5927\u5b66 113.3564   23.14123

In [7]:
df = getRoute('首都国际机场', '北京南苑机场', region = '北京')