**提取数据**

In [269]:
import pandas as pd
large_metre_2019 = pd.read_excel(r'.\自来水数据\远传表原始数据\远传系统2019年大口径智能表水量（1月1日至2月11日）.xlsx')
smart_metre_2019 = pd.read_excel(r'.\自来水数据\远传表原始数据\远传系统2019年小口径智能表水量（1月1日至2月11日）.xlsx')

In [270]:
large_metre_2020 = pd.read_excel(r'.\自来水数据\远传表原始数据\远传系统2020年大口径智能表水量（1月1日至2月11日）.xlsx')
smart_metre_2020 = pd.read_excel(r'.\自来水数据\远传表原始数据\远传系统2020年小口径智能表水量（1月1日至2月11日）.xlsx')

In [271]:
large_metre_list = pd.read_csv(r'./自来水数据/远传表原始数据/营抄系统的大表清单卢部提取remote_meter_user_info_20200213_202002171625.csv',encoding = 'gbk')
smart_metre_list = pd.read_csv(r'./自来水数据/远传表原始数据/营抄系统的小表清单卢部提取smart_meter_user_info_20200213_202002171625.csv',encoding = 'gb18030')

In [272]:
large_metre_list.head()

,Unnamed: 0,user_no,user_name,mr_sect_no,trade_sort,use_type_code,meter_calibre,user_ms_type
0,6610803,6610803,广州合景房地产开发有限公司,2058032010,公共消防,消防环卫绿化,100.0,计费
1,9830341,9830341,水沥村委会,4027012010,农村/城中村总表民用,居民生活,100.0,计费
2,289186,289186,广州市荔湾区詹天佑小学,1063062010,学校用水,学校用水,100.0,计费
3,6610799,6610799,广州合景房地产开发有限公司,2058032010,公共绿化,消防环卫绿化,100.0,计费
4,6935102,6935102,东山钢瓶厂,1061112010,混合商业,经营服务用水,NaN,计费

In [273]:
large_metre_2020.head()

,远传ID,数据编号,区册号,用户编号,用户名称,用途,性质,口径,数据编号.1,2020-01-01,...,2020-02-08,2020-02-09,2020-02-10,2020-02-11,合计,缺数天数,天数,日均水量,行业,用水性质
0,51280,9.000513e+11,NaN,6297552.0,增城市新塘镇南埔村民委员会0006297552,NaN,NaN,200.0,9.000513e+11,0.000000,...,0.000000,0.000000,0.000000,0.0,849.000000,0,42,20.214286,NaN,NaN
1,51281,9.000513e+11,NaN,6292599.0,增城市新塘水南村0006292599,NaN,NaN,NaN,9.000513e+11,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0,42,0.000000,NaN,NaN
2,51282,9.000513e+11,NaN,6290144.0,沦联大队0006290144,NaN,NaN,NaN,9.000513e+11,30.000000,...,11.000000,20.000000,28.000000,27.0,1246.000000,0,42,29.666667,NaN,NaN
3,91840183,9.918402e+11,NaN,4954907.0,侨鑫集团有限公司0004954907,NaN,NaN,100.0,9.918402e+11,85.300000,...,60.799999,61.400001,60.400000,58.5,2673.300000,0,42,63.650000,NaN,NaN
4,50026,9.995003e+11,83206002,5746734.0,市解困办公室0005746734,计量不计费,NaN,50.0,9.995003e+11,22.600001,...,24.600000,28.799999,23.100001,24.1,875.500002,6,36,24.319444,NaN,NaN

**修正清单用户编号格式**

In [274]:
large_metre_list['user_no'] = large_metre_list['user_no'].astype('str').str.pad(10,fillchar='0')
smart_metre_list['user_no'] = smart_metre_list['user_no'].astype('str').str.pad(10,fillchar='0')

In [275]:
print(large_metre_list['user_no'],smart_metre_list['user_no'])

0       0006610803
1       0009830341
2       0000289186
3       0006610799
4       0006935102
           ...
8592    0037354099
8593    0036906042
8594    0037217121
8595    0037489104
8596    0037490108
Name: user_no, Length: 8597, dtype: object 0         0006618924
1         0006618937
2         0006619363
3         0001832932
4         0001832945
             ...
129716    0032767416
129717    0032769151
129718    0032756698
129719    0032759293
129720    0035797092
Name: user_no, Length: 129721, dtype: object

**修正远传系统用户编号格式**

In [276]:
import numpy as np
large_metre_2020['用户编号'].replace(np.nan,0,inplace=True)

In [277]:
large_metre_2020['用户编号'] =  large_metre_2020['用户编号'].astype('int').astype('str').replace('0',np.nan).str.pad(10,fillchar='0')

In [280]:
smart_metre_2020['用户编号'] = smart_metre_2020['用户编号'].str[1:].str.pad(10,fillchar='0')

**远传系统与营抄系统中的远传大小表数量

In [283]:
print("远传系统2020年远传大表数量{}，营抄系统2020年远传大表清单表数量{}".format(large_metre_2020['用户编号'].count(),large_metre_list['user_no'].count()))

远传系统2020年远传大表数量9528，营抄系统2020年远传大表清单表数量8597

In [284]:
print("远传系统2020年远传小表数量{}，营抄系统2020年远传小表清单表数量{}".format(smart_metre_2020['用户编号'].count(),smart_metre_list['user_no'].count()))

远传系统2020年远传小表数量117233，营抄系统2020年远传小表清单表数量129721

**获取远传大表不一致的编号**

In [287]:
len(set(large_metre_2020['用户编号'])&set(large_metre_list['user_no']))

7467

In [294]:
large_metre_2020[large_metre_2020['用户编号'].\
                 isin(list(set(large_metre_2020['用户编号'])&set(large_metre_list['user_no'])))][:-1].\
to_csv('./数据导出/远传大表用户（同时在远传系统中和营抄系统中）.csv')

In [303]:
len(set(large_metre_list['user_no'])-set(large_metre_2020['用户编号']))

1130

在远传系统中不在营抄系统中的远传大表的用户编号清单

In [295]:
large_metre_2020[large_metre_2020['用户编号'].\
                 isin(list(set(large_metre_2020['用户编号'])-set(large_metre_list['user_no'])))][:-1].\
to_csv('./数据导出/远传大表用户（在远传系统中不在营抄系统中）.csv')

在营抄系统中不在远传系统中的远传大表用户编号清单

In [296]:
large_metre_list[large_metre_list['user_no'].isin(list(set(large_metre_list['user_no'])-set(large_metre_2020['用户编号'])))].\
to_csv('./数据导出/远传大表用户（在营抄系统中不在远传系统中）.csv')

**获取远传小表不一致的清单**

In [305]:
len(set(smart_metre_2020['用户编号'])&set(smart_metre_list['user_no']))
len(set(smart_metre_2020['用户编号'])-set(smart_metre_list['user_no']))
len(set(smart_metre_list['user_no'])-set(smart_metre_2020['用户编号']))

26082

In [298]:
smart_metre_2020[smart_metre_2020['用户编号'].isin(list(set(smart_metre_2020['用户编号'])&set(smart_metre_list['user_no'])))][:-1].\
to_csv('./数据导出/远传小表用户(同时在远传系统和营抄系统中).csv')

在远传系统中不在营抄系统中的远传小表的用户编号清单

In [299]:
smart_metre_2020[smart_metre_2020['用户编号'].isin(list(set(smart_metre_2020['用户编号'])-set(smart_metre_list['user_no'])))][:-1].\
to_csv('./数据导出/远传小表用户（在远传系统中不在营抄系统中）.csv')

在营抄系统中不在远传系统中的小表用户编号清单

In [300]:
smart_metre_list[smart_metre_list['user_no'].isin(list(set(smart_metre_list['user_no'])-set(smart_metre_2020['用户编号'])))].\
to_csv('./数据导出/远传小表用户（在营抄系统中不在远传系统中）.csv')